*{
    margin: 0;
    box-sizing: border-box;
}
.listBeers{
    width: 100vw;
    height: 100vh;
}
.divBeer{
    width: 170px;
    height: 350px;
    display: inline-block;
    border: 1px solid black;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
}
.titleBeer{
    width: 160px;
    height: 65px;
    margin-bottom: 15px;
}
.imgBeer{
    width: 100px;
    height: 100px;
    margin-top: 40px; 
    transform: translate3d(0px, 100px);
}
.abvBeer{
    margin: 5px;
}
.hops{
    width: 160px;
    height: 100px;
    margin: 5px;
}
#btnNext{
    width: 98vw;
    height: 20px;
    margin: 5px;
}

/* input search  */
#input_container {
  position:relative;
  padding:0 0 0 20px;
  margin:0 20px;
  background:#ddd;
  direction: rtl;
  width: 97vw;
}
#input {
  height:30px;
  margin:0;
  padding-right: 30px;
  width: 97vw;
}
#input_img {
  position:absolute;
  bottom:2px;
  right:5px;
  width:24px;
  height:24px;
}
/* until here */
